:root{
    --Blanco: #ffffff;
    --Oscuro: #3e4444;
    --Primario: #82b74b;
    --Secundario: #405d27;
    --Terciario: #c1946a;
}

html{
    font-size: 62.5%;
}

body{
font-size: 16px;
}

*, *:before, *:after{
    box-sizing: inherit;
}
h1{
    text-align: center;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
}

.bg-nav{
background-color: var(--Terciario);
height: 4rem;
}

.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
}

.nav-principal a{
    padding:  1rem;
    color: black;
    font-weight: 700;
    text-decoration: none;
    
     
}


.bg-inicio{
    background-image: url(../img/bginicio.jpg);
    width: 133.3rem; 
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-inicio{
    background-color: rgb(0 0 0  /30%);
    color: var(--Blanco);
    width: 40rem;
    height: 56rem;
    padding: 2rem; 
}

.contenedor-inicio h2, h4{
    font-weight: 1100;
}


.contenedor-inicio a{
    text-decoration: none;
    color: var(--Blanco);
    font-size: 1.6rem;
    font-weight: 600;
}

.lista-inicio li{
    padding: 1.2rem;
    font-weight: 600;
}

.boton-inicio{
    background-color: #4d3319;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    left: 30%;
    top: 5%;
}