:root{
    --Blanco: #ffffff;
    --Oscuro: #3e4444;
    --Primario: #82b74b;
    --Secundario: #405d27;
    --Terciario: #c1946a;
}

html{
    font-size: 62.5%;
    
}

body{
font-size: 16px;
margin: 0;
}

*, *:before, *:after{
    box-sizing: inherit;
}
h1{
    text-align: center;
}

.contenedor{
    width: 100%;
    margin: 0;
}

.bg-nav{
background-color: #82b74b;

}

.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
   
}



.nav-principal a{
    padding:  1rem 10rem;
    color: black;
    font-weight: 700;
    text-decoration: none;
    height: 2rem;
}

.nav-principal a:hover{
    background-color: #47321f;
    color: ivory;
}


.bg-inicio{
    background-image: url(../img/bginicio.jpg);
    width: 100%; 
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-inicio{
    background-color: rgb(0 0 0  /30%);
    color: var(--Blanco);
    width: 30%;
    height: 80vh;
    padding: 2rem; 
    font-size: 2rem;
   
}

.contenedor-inicio h2, h4{
    font-weight: 1100;
}


.contenedor-inicio a{
    text-decoration: none;
    color: var(--Blanco);
    font-size: 1.6rem;
    font-weight: 600;
}

.lista-inicio li{
    padding: 1.2rem;
    font-weight: 600;
}

.boton-inicio{
    background-color: transparent;
   
    width: 15rem;
    height: 4rem;
    border-radius: 1.5rem;
  
    position: relative;
    left: 30%;
    top: 5%;
    border: 1px solid white;
}
 
#titulo-servicios{
    text-align: center;
    color: white;
}

.contenedor-servicios{
    display: flex;
    flex-direction: row;
 justify-content: space-evenly;
    align-items: center;  
    text-align: center;
    color: white;
}

.servicios{
    border: 1px solid black;
    padding: 2rem;
}

.servicios img{
    width: 10rem;
    height: 10rem;
    padding: 0;
    margin: 0;
}

.membresia{
    display: flex;
    align-items: center;
    color: white;
    padding:  0 2rem 4rem 2rem;
  
    }
         h2{
            text-align: center;
            color: white;
            margin: 5rem 0 5rem 0;
            
    }
  
    .membresia-text{
        text-align: left;
        width: 45%;
        padding: 0 0 0 5rem;
        font-size: 2rem;
        
    }
    .membresia-slides{
      
        width: 45%;
       margin: 7rem 0 ;
        background-repeat: no-repeat;
    }
    .membresia-slides img{
      position: absolute;
      bottom: 14%;
      width: 40%;
      height: 40vh;
      margin: 0 10rem;
     }
    .membresia button{
        background-color: transparent;
        color: white;
        width: 20rem;
        height: 3rem;
        border-radius: 3rem;
        padding: 1rem;
        margin: 5rem;
        position: relative;
        left: 22.5%;
        border: 3px solid white;
        
    }
    
    .membresia button:hover{
        background-color: black;
        
        
    }
#contenedor-body{
    background: linear-gradient(5deg, #3e4444, #82b74b);
    position: absolute;
   width: 100%;
   height: 110vh;

}


